@import "tailwindcss";

@font-face {
  font-family: "pricedown";
  src: url("./pricedown.otf");
}
*::-webkit-scrollbar {
  display: none;
}
html,
body {
  background-color: black;
  width: 100%;
  height: 100%;
  font-family: "pricedown";
}